In [1]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://dlcdn.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz

In [8]:

    

!tar xf spark-3.3.1-bin-hadoop3.tgz


    

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"



!pip install -q findspark
!pip install pyspark -q
import findspark
findspark.init()

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 19.4 MB/s eta 0:00:00
  Building wheel for pyspark (setup.py) ... done

In [4]:
findspark.find()

'/content/spark-3.3.1-bin-hadoop3'

In [13]:
#zwykłe sumowanie 
from pyspark.sql import SparkSession
from pyspark.sql import Row

# tworzymy SparkSession zamiast context
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
# getOrCreate tworzy nową sesję albo podłącza się do istniejącej

def mapper(line):
    fields = line.split(',')
    return Row(id=int(fields[0]), 
               item_id=int(fields[1]), amount=float(fields[2]))

# dane nie mają nagłówka, dlatego korzystamy z contextu żeby załadować dane
lines = spark.sparkContext.textFile("customer-orders.csv")
# nasza funkcja przekonwertuje nasze dane na wiersze i pola z nazwami kolumn i typami danych
orders = lines.map(mapper)

# tworzymy dataframe
# cacheujemy ponieważchcemy wysyłać wiele zapytań i trzeba to jakoś przechować w pamięci
schemaOrders = spark.createDataFrame(orders).cache()
# tworzymy widok jak w bazie danych aby wysyłać zapytania, widok people działa jak tabela
schemaOrders.createOrReplaceTempView("orders")

# teraz możemy wysyłać zapytania do DF jak do zwykłej tabeli w SQL
# nazwy kolumn to nazwy pól. które nazwaliśmy
total = spark.sql("SELECT id, SUM(amount) FROM orders GROUP BY id")

# wynik zapytań SQL można potem wrzucić do podstawowych funkcji RDD, tu zbieramy wyniki i je wyświetlamy
for amount in total.collect():
  print(amount)

# zamiast pełnego zapytania możemy również korzystać z funkcji
#schemaPeople.groupBy("age").count().orderBy("age").show()

#spark.stop()

Row(id=29, sum(amount)=5032.530000000001)
Row(id=26, sum(amount)=5250.4)
Row(id=65, sum(amount)=5140.35)
Row(id=54, sum(amount)=6065.390000000001)
Row(id=19, sum(amount)=5059.43)
Row(id=0, sum(amount)=5524.949999999999)
Row(id=22, sum(amount)=5019.449999999999)
Row(id=7, sum(amount)=4755.069999999999)
Row(id=77, sum(amount)=4327.73)
Row(id=34, sum(amount)=5330.8)
Row(id=50, sum(amount)=4517.2699999999995)
Row(id=94, sum(amount)=4475.570000000001)
Row(id=57, sum(amount)=4628.4)
Row(id=43, sum(amount)=5368.83)
Row(id=32, sum(amount)=5496.05)
Row(id=84, sum(amount)=4652.9400000000005)
Row(id=31, sum(amount)=4765.049999999999)
Row(id=98, sum(amount)=4297.259999999999)
Row(id=39, sum(amount)=6193.110000000001)
Row(id=25, sum(amount)=5057.610000000001)
Row(id=95, sum(amount)=4876.839999999998)
Row(id=71, sum(amount)=5995.660000000002)
Row(id=6, sum(amount)=5397.879999999999)
Row(id=68, sum(amount)=6375.450000000001)
Row(id=72, sum(amount)=5337.439999999999)
Row(id=87, sum(amount)=5206.4)
Row(id=58, sum(amount)=5437.73)
Row(id=9, sum(amount)=5322.65)
Row(id=27, sum(amount)=4915.89)
Row(id=63, sum(amount)=5415.1500000000015)
Row(id=51, sum(amount)=4975.220000000001)
Row(id=56, sum(amount)=4701.02)
Row(id=52, sum(amount)=5245.0599999999995)
Row(id=79, sum(amount)=3790.5699999999997)
Row(id=17, sum(amount)=5032.68)
Row(id=41, sum(amount)=5637.620000000001)
Row(id=88, sum(amount)=4830.55)
Row(id=33, sum(amount)=5254.660000000002)
Row(id=28, sum(amount)=5000.709999999999)
Row(id=5, sum(amount)=4561.07)
Row(id=1, sum(amount)=4958.600000000001)
Row(id=96, sum(amount)=3924.2300000000005)
Row(id=10, sum(amount)=4819.7)
Row(id=89, sum(amount)=4851.48)
Row(id=85, sum(amount)=5503.43)
Row(id=48, sum(amount)=4384.33)
Row(id=67, sum(amount)=4505.79)
Row(id=44, sum(amount)=4756.890000000001)
Row(id=61, sum(amount)=5497.4800000000005)
Row(id=3, sum(amount)=4659.63)
Row(id=37, sum(amount)=4735.200000000001)
Row(id=83, sum(amount)=4635.8)
Row(id=12, sum(amount)=4664.589999999999)
Row(id=55, sum(amount)=5298.089999999999)
Row(id=74, sum(amount)=4647.130000000001)
Row(id=8, sum(amount)=5517.24)
Row(id=62, sum(amount)=5253.3200000000015)
Row(id=49, sum(amount)=4394.6)
Row(id=11, sum(amount)=5152.289999999999)
Row(id=35, sum(amount)=5155.420000000001)
Row(id=80, sum(amount)=4727.86)
Row(id=2, sum(amount)=5994.59)
Row(id=66, sum(amount)=4681.92)
Row(id=76, sum(amount)=4904.210000000001)
Row(id=4, sum(amount)=4815.050000000001)
Row(id=92, sum(amount)=5379.279999999999)
Row(id=13, sum(amount)=4367.619999999999)
Row(id=36, sum(amount)=4278.049999999999)
Row(id=75, sum(amount)=4178.5)
Row(id=78, sum(amount)=4524.51)
Row(id=18, sum(amount)=4921.269999999999)
Row(id=69, sum(amount)=5123.01)
Row(id=14, sum(amount)=4735.030000000001)
Row(id=21, sum(amount)=4707.41)
Row(id=59, sum(amount)=5642.889999999999)
Row(id=15, sum(amount)=5413.51)
Row(id=81, sum(amount)=5112.709999999999)
Row(id=82, sum(amount)=4812.49)
Row(id=38, sum(amount)=4898.460000000001)
Row(id=97, sum(amount)=5977.1900000000005)
Row(id=42, sum(amount)=5696.840000000002)
Row(id=73, sum(amount)=6206.200000000001)
Row(id=30, sum(amount)=4990.72)
Row(id=90, sum(amount)=5290.41)
Row(id=23, sum(amount)=4042.65)
Row(id=46, sum(amount)=5963.109999999999)
Row(id=70, sum(amount)=5368.249999999999)
Row(id=20, sum(amount)=4836.860000000001)
Row(id=99, sum(amount)=4172.29)
Row(id=86, sum(amount)=4908.810000000001)
Row(id=60, sum(amount)=5040.709999999999)
Row(id=93, sum(amount)=5265.75)
Row(id=40, sum(amount)=5186.429999999999)
Row(id=64, sum(amount)=5288.689999999999)
Row(id=16, sum(amount)=4979.06)
Row(id=91, sum(amount)=4642.26)
Row(id=47, sum(amount)=4316.299999999998)
Row(id=53, sum(amount)=4945.300000000001)
Row(id=45, sum(amount)=3309.3799999999997)
Row(id=24, sum(amount)=5259.92)

In [15]:
#posortowane
from pyspark.sql import SparkSession
from pyspark.sql import Row

# tworzymy SparkSession zamiast context
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()
# getOrCreate tworzy nową sesję albo podłącza się do istniejącej

def mapper(line):
    fields = line.split(',')
    return Row(id=int(fields[0]), 
               item_id=int(fields[1]), amount=float(fields[2]))

# dane nie mają nagłówka, dlatego korzystamy z contextu żeby załadować dane
lines = spark.sparkContext.textFile("customer-orders.csv")
# nasza funkcja przekonwertuje nasze dane na wiersze i pola z nazwami kolumn i typami danych
orders = lines.map(mapper)

# tworzymy dataframe
# cacheujemy ponieważchcemy wysyłać wiele zapytań i trzeba to jakoś przechować w pamięci
schemaOrders = spark.createDataFrame(orders).cache()
# tworzymy widok jak w bazie danych aby wysyłać zapytania, widok people działa jak tabela
schemaOrders.createOrReplaceTempView("orders")

# teraz możemy wysyłać zapytania do DF jak do zwykłej tabeli w SQL
# nazwy kolumn to nazwy pól. które nazwaliśmy
total = spark.sql("SELECT id, SUM(amount) as total FROM orders GROUP BY id ORDER BY total")

# wynik zapytań SQL można potem wrzucić do podstawowych funkcji RDD, tu zbieramy wyniki i je wyświetlamy
for amount in total.collect():
  print(amount)

# zamiast pełnego zapytania możemy również korzystać z funkcji
#schemaPeople.groupBy("age").count().orderBy("age").show()

#spark.stop()

Row(id=45, total=3309.3799999999997)
Row(id=79, total=3790.5699999999997)
Row(id=96, total=3924.2300000000005)
Row(id=23, total=4042.65)
Row(id=99, total=4172.29)
Row(id=75, total=4178.5)
Row(id=36, total=4278.049999999999)
Row(id=98, total=4297.259999999999)
Row(id=47, total=4316.299999999998)
Row(id=77, total=4327.73)
Row(id=13, total=4367.619999999999)
Row(id=48, total=4384.33)
Row(id=49, total=4394.6)
Row(id=94, total=4475.570000000001)
Row(id=67, total=4505.79)
Row(id=50, total=4517.2699999999995)
Row(id=78, total=4524.51)
Row(id=5, total=4561.07)
Row(id=57, total=4628.4)
Row(id=83, total=4635.8)
Row(id=91, total=4642.26)
Row(id=74, total=4647.130000000001)
Row(id=84, total=4652.9400000000005)
Row(id=3, total=4659.63)
Row(id=12, total=4664.589999999999)
Row(id=66, total=4681.92)
Row(id=56, total=4701.02)
Row(id=21, total=4707.41)
Row(id=80, total=4727.86)
Row(id=14, total=4735.030000000001)
Row(id=37, total=4735.200000000001)
Row(id=7, total=4755.069999999999)
Row(id=44, total=4756.890000000001)
Row(id=31, total=4765.049999999999)
Row(id=82, total=4812.49)
Row(id=4, total=4815.050000000001)
Row(id=10, total=4819.7)
Row(id=88, total=4830.55)
Row(id=20, total=4836.860000000001)
Row(id=89, total=4851.48)
Row(id=95, total=4876.839999999998)
Row(id=38, total=4898.460000000001)
Row(id=76, total=4904.210000000001)
Row(id=86, total=4908.810000000001)
Row(id=27, total=4915.89)
Row(id=18, total=4921.269999999999)
Row(id=53, total=4945.300000000001)
Row(id=1, total=4958.600000000001)
Row(id=51, total=4975.220000000001)
Row(id=16, total=4979.06)
Row(id=30, total=4990.72)
Row(id=28, total=5000.709999999999)
Row(id=22, total=5019.449999999999)
Row(id=29, total=5032.530000000001)
Row(id=17, total=5032.68)
Row(id=60, total=5040.709999999999)
Row(id=25, total=5057.610000000001)
Row(id=19, total=5059.43)
Row(id=81, total=5112.709999999999)
Row(id=69, total=5123.01)
Row(id=65, total=5140.35)
Row(id=11, total=5152.289999999999)
Row(id=35, total=5155.420000000001)
Row(id=40, total=5186.429999999999)
Row(id=87, total=5206.4)
Row(id=52, total=5245.0599999999995)
Row(id=26, total=5250.4)
Row(id=62, total=5253.3200000000015)
Row(id=33, total=5254.660000000002)
Row(id=24, total=5259.92)
Row(id=93, total=5265.75)
Row(id=64, total=5288.689999999999)
Row(id=90, total=5290.41)
Row(id=55, total=5298.089999999999)
Row(id=9, total=5322.65)
Row(id=34, total=5330.8)
Row(id=72, total=5337.439999999999)
Row(id=70, total=5368.249999999999)
Row(id=43, total=5368.83)
Row(id=92, total=5379.279999999999)
Row(id=6, total=5397.879999999999)
Row(id=15, total=5413.51)
Row(id=63, total=5415.1500000000015)
Row(id=58, total=5437.73)
Row(id=32, total=5496.05)
Row(id=61, total=5497.4800000000005)
Row(id=85, total=5503.43)
Row(id=8, total=5517.24)
Row(id=0, total=5524.949999999999)
Row(id=41, total=5637.620000000001)
Row(id=59, total=5642.889999999999)
Row(id=42, total=5696.840000000002)
Row(id=46, total=5963.109999999999)
Row(id=97, total=5977.1900000000005)
Row(id=2, total=5994.59)
Row(id=71, total=5995.660000000002)
Row(id=54, total=6065.390000000001)
Row(id=39, total=6193.110000000001)
Row(id=73, total=6206.200000000001)
Row(id=68, total=6375.450000000001)